<div class="m-4">
    <a class="btn btn-primary" role="button" href="{{ path(action)}}">
        <div class="d-flex justify-content-between align-items-center" style="width: {{ width }}px;">
            <twig:ux:icon name="{{ icon }}" width="{{ size }}px" height="{{ size }}px" />
            {{ name }}
        </div>
    </a>
</div>
