{% extends 'base.html.twig' %}

{% block title %}Détail d'un éditeur{% endblock %}

{% block body %}
    <style>
        .exmple-wraper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .exmple-wraper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <section class="container px-4">
        <div class="w-50 m-auto">
            <h1>Editeur : </h1>
            {% if editor is not null %}
                <div class="card mb-1 m-auto">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h4 class="mb-1">{{ editor.name }}</h4>
                            <small class="text-muted">Identifiant : {{ editor.id }}</small>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>Editeur non trouvé</div>
            {% endif %}
            <div class="d-flex p-2">
                <a href="{{ path('app_admin_editor_index') }}" class="btn btn-primary me-4">Retour</a>
                {% if is_granted('ROLE_EDITION_DE_LIVRE') %}
                    <a href="{{ path('app_admin_editor_edit', { id: editor.id }) }}" class="btn btn-warning me-4">Editer</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('app_admin_editor_remove', { id: editor.id }) }}" method="delete">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
