<div>
    <form action="{{ path(action, parameters) }}" method="delete">
        <button type="submit" class="btn btn-danger">
            <div class="d-flex justify-content-between align-items-center" style="width: {{ width }}px;">
                <twig:ux:icon name="{{ icon }}" width="{{size}}px" height="{{size}}px" />
                {{ name }}
            </div>
        </button>
    </form>
</div>
